{% extends 'base.html.twig' %}

{% block title %}{{ vacancy.title }}{% endblock %}

{% block breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('vacancies') }}">Vacancies</a></li>
        <li class="breadcrumb-item"><a href="{{ path('vacancy.show', {'id': vacancy.id}) }}">{{ vacancy.title }}</a></li>
        <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block content_title %}Vacancies{% endblock %}

{% block body %}

    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            {{ include('app/vacancy/_tabs.html.twig') }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-6">
                    {{ form_start(statusForm) }}
                    {{ form_widget(statusForm.status, {'attr': {'class': 'custom-select form-control-border'}}) }}
                    {{ form_end(statusForm) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
