{% extends 'base.html.twig' %}

{% block title %}Vacancies{% endblock %}

{% block breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('vacancies') }}">Vacancies</a></li>
        <li class="breadcrumb-item active">Show</li>
{% endblock %}

{% block content_title %}{{ vacancy.title }}{% endblock %}

{% block body %}
    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            {{ include('app/vacancy/_tabs.html.twig') }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    {{ form_start(statusForm) }}
                    {{ form_widget(statusForm.status, {'attr': {'class': 'custom-select form-control-border'}}) }}
                    {{ form_end(statusForm) }}
                </div>
            </div>
            <div class="row">
                <div class="post">
                    {{ vacancy.description | markdown | vacancy_processor }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
