{% extends 'base.html.twig' %}

{% block title %}Vacancies{% endblock %}

{% block breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('vacancies') }}">Vacancies</a></li>
        <li class="breadcrumb-item active">{{ vacancy.title }}</li>
{% endblock %}

{% block content_title %}{{ vacancy.title }}{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{{ path('vacancies.edit', {'id': vacancy.id }) }}">Edit</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="info-box bg-light">
                    {{ form_start(statusForm) }}
                    <div class="info-box-content">
                        {{ form_widget(statusForm.status, {'attr': {'class': 'custom-select form-control-border'}}) }}
                    </div>
                    {{ form_end(statusForm) }}
                </div>
            </div>
            <div class="post">
                {{ vacancy.description | markdown }}
            </div>
        </div>
    </div>

{% endblock %}
