{% extends 'base.html.twig' %}

{% block title %}{{ vacancy.title }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('vacancies') }}">Vacancies</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
