{% extends 'base.html.twig' %}

{% block title %}Create person{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('persons') }}">Persons</a></li>
    <li class="breadcrumb-item active">Create</li>
{% endblock %}

{% block content_title %}Create{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Create</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
